body{
  background-color: black;
}
.fundo {
    height: 97.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: white;
    text-shadow: 0.01em 0.03em 0.1em blue;
}
.hora {
    padding: 2px 25px;
    background-color: #1E211C;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid blue;
    font-family: "Qahiri", sans-serif;
}
.sino{
    display: none;
}